<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <title>  {% if 'actor_name' in request.resolver_match.kwargs %}
    {{ request.resolver_match.kwargs.actor_name|title }}
{% elif 'movie_id' in request.resolver_match.kwargs %}
    {{ request.resolver_match.kwargs.movie_id|title }}
{% elif 'director_name' in request.resolver_match.kwargs %}
    {{ request.resolver_match.kwargs.director_name|title }}
{% else %}
    Default Title
{% endif %}</title> -->

{% if title %}
<title>{{title}}</title>
{% else %}
<title>Movies</title>
{% endif %}
</head>
<body>
    {%block body%}
    {%endblock %}

</body>
</html>