{%extends "movies/layout.html"%}
{% load crispy_forms_tags %}

{%block body%}

<h1>{{movie.name}}</h1>
<h3>Directed by: {{movie.director}} </h3>
Added by {{movie.user}}<br>
Starring :
<ul>
{%for actor in actors%}
<li><a href = "{%url 'actor' actor.name %}">   {{ actor.name }} </a></li>
{%endfor%}
</ul>
<form action="{%url 'movie' movie.id %}" method ="post">

    {%csrf_token%}

	{{ movie_form|crispy }}                    
</select>
    <input type="submit" value="Submit">

{%endblock%}

